
{% include "recipes/partiels/head.html" %}

<body>

    {% include "recipes/partiels/header.html" %}

    {% include "recipes/partiels/search.html" %}

    <main class="main-container">
        <div class="main-content main-content-list container">

           {% include "recipes/partiels/recipe.html" %}
           {% include "recipes/partiels/recipe.html" %}
           {% include "recipes/partiels/recipe.html" %}
           {% include "recipes/partiels/recipe.html" %}
           {% include "recipes/partiels/recipe.html" %}
           {% include "recipes/partiels/recipe.html" %}
           {% include "recipes/partiels/footer.html" %}

        </div>
    </main>

</body>

</html>