
{% extends "global/base.html" %}

{% block content %}
        <div class="main-content main-content-list container">
           {% include "recipes/partiels/recipe.html" %}
           {% include "recipes/partiels/recipe.html" %}
           {% include "recipes/partiels/recipe.html" %}
           {% include "recipes/partiels/recipe.html" %}
           {% include "recipes/partiels/recipe.html" %}
           {% include "recipes/partiels/recipe.html" %}
        </div>
{% endblock content %} 
        